@import "~bootstrap/scss/bootstrap";

body{
    background-color: #000;
}

.form-rounded{
    border-radius: 10px;
}

.w-100p{
    width: 100px;
}

.w-50p{
    width: 50px;
}

.w-25p{
    width: 25px;
}

.w-30p{
    width: 30px;
}